node_modules
npm - debug.log
    .git
    .gitignore
README.md
    .next
    .vercel
    .DS_Store
    *.pem
dist
build
coverage
    .idea
    .vscode
    *.swp
    *.swo
    * ~
.eslintcache
        .turbo
out
