@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
@import "tailwindcss";
/* globals.css or swiperCustom.css imported in _app.js */
.swiper-button-prev,
.swiper-button-next {
  @apply w-14 h-14 bg-[#3FD0D4] p-4 !text-black  rounded-full flex items-center justify-center shadow-lg;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-black text-xl;
}
